.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 7px 15px #495057;
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
.choice-container span {
  background-color: #495057;
  color: #ffffff;
  border: 3px solid #495057;
}
.choice-text {
  border: 1px solid #495057;
  width: 100%;
}
.choice-prefix,
.choice-text {
  margin-bottom: 0;
}

#loader {
  border: 1rem solid #f8f9fa;
  border-radius: 50%;
  border-top: 1rem solid #007bff;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
